<div class=" container-fluid"  >
    <div class="row">
      <div class="col-3 col-lg-2">
        <app-navbar></app-navbar>
      </div>
      
      <div class="col-md-4 card shadow"  style="cursor: pointer;" > 
        <app-lead></app-lead>
      </div>
      <div class="col-md-4 card shadow"  style="cursor: pointer;" > 
        <app-lead-volume></app-lead-volume>
      </div>
    </div>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
<!-- <div [style.display]="showModal ? 'block' : 'none'" class="modal " id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body"  id="imagepreview" style="width:75%; height: 75%;">
        <canvas #canvas id="myChart6"  ></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger Close" data-dismiss="modal" (click) = "hide()"><b>Close</b></button>
      </div>
    </div>
  </div>
  </div> -->